
/* VESTIBULE */

.vestibule {
  margin-top: 40px;
  min-height: 480px;
  background-image: url("../img/vestibule.jpg");
  padding-bottom: 20px;
}

.vestibule__logo {
  width: 400px;
  height: 150px;
  background-image: url("../img/vestibule-logo.png");
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  left: 50px;
  top: -50px;
}

.vestibule-content {
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 60px;
}

.vestibule-content__text {
  width: 400px;
}

.vestibule-courses__h {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.vestibule-courses-block {
  display: flex;
  align-items: center;
}

.vestibule-courses-block__selector {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.vestibule-courses-block__selector:hover {
  background-color: #073356;
}

.vestibule-courses-block-triangle {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 30px solid #073356;
  border-bottom: 18px solid transparent;
  transform: translate(5px, 7px);
}

.vestibule-courses-block__selector_right {
  transform: rotate(180deg);
}

.vestibule-courses-block-triangle:hover {
  border-right: 30px solid #FFFFFF;
}

.vestibule-course-circles {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.vestibule-course-circles__page {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.vestibule-course-circles__page_selected {
  background-color: #000000;
}

/* COURSE */



.course {
  width: 230px;
  padding: 20px 200px 20px 20px;
  height: 160px;
  margin: 0 20px;
  background-image: url("../img/course.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course__name {
  font-size: 16px;
}

.course__date {
  color: #073356;
  font-size: 14px;
}

.course__text {
  font-size: 14px;
}

.course-buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.course-buttons-a {
  text-decoration: none;
}

.course-buttons-btn-sign-up {
  width: 106px;
  height: 26px;
  background-color: #073356;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  border: 2px solid #073356;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-buttons-btn-sign-up:hover {
  border: 2px solid #FFFFFF;
}

.course-buttons-btn-lessons {
  width: 76px;
  height: 26px;
  background-color: #FFFFFF;
  color: #073356;
  text-align: center;
  font-size: 14px;
  border: 2px solid #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-buttons-btn-lessons:hover {
  border: 2px solid #073356;
}


/* COURSES */

.courses {
  min-height: 500px;
  background-color: #FFFFFF;
  padding: 30px 0;
}

.courses__h {
  color: #073356;
  font-size: 36px;
  margin-left: 20px;

}

.courses-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #FFFFFF;
  margin-top: 20px;
}

/* ABOUT */

.about {
  min-height: 200px;
  padding: 20px;
  background-color: #073356;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}

.about_h {
  font-size: 36px;
}

.about-bot {
  display: flex;
  justify-content: space-between;
}

.about-bot__logo {
  background-image: url("../img/main_logo.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-bot-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.about-bot-text__a {
  color: #FFFFFF;
}

.about-bot-text__a:hover {
  text-decoration: none;
}

/* REVIEWS */

.reviews {
  min-height: 500px;
  background-color: #FFFFFF;
  color: #073356;
  padding: 40px 20px;
}

.reviews__h {
  font-size: 36px;
}

.reviws-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.revies-blocks-unit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 150px;
  border: 3px solid #073356;
  border-radius: 25px;
  margin: 10px;
}

.revies-blocks-unit-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  width: 350px;
}

.revies-blocks-unit-text__name {
  font-size: 24px;
  font-weight: bold;
}

.revies-blocks-unit-text__content {
  text-decoration: underline;
  font-size: 14px;
}

.revies-blocks-unit__avatar {
  width: 120px;
  height: 120px;
}
