body {
   background-color: #8c3ff1;
   background-image: url(/img/Фон.png);
   font-family: Montserrat;
}
.wrapper {
   display: grid;
   justify-content: center;
}
a {
   text-decoration: none;
   color: black;
}
.nav {
   display: flex;
   margin-top: 89px;
}
.nav__main-logo {
   margin-right: 60px;
}
.list {
   font-size: 18px;
}
.nav__list {
   display: flex;
   align-items: center;
}
.nav__list-item {
   display: flex;
   margin-left: 147px;
}
.nav__list-item_assign {
   font-weight: 600;
}
