:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --blue-primary: rgba(88, 122, 176, 1);
    --blue-secondary: rgba(51, 96, 140, 1);
    --gray-light: rgba(243, 243, 243, 1);
    --gray: rgb(124, 124, 124);
    --gray-opacity-5: rgba(242, 242, 242, 0.5);
    --orange: rgba(247, 99, 6, 1);
    --orange-darkened: rgb(238, 91, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');