.course {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.course__banner {
    width: 100%;
}

.course__bannerImage {
    width: 100%;
    border-radius: 12px;
}

.course__body {
    margin-top: 32px;
    display: flex;
    margin-bottom: 36px;
}

.course__content {
    margin-right: 16px;
}

.course__title {
    font-size: 24px;
    font-weight: 600;
}

.course__description {
    margin-top: 16px;
    font-size: 18px;
}

.course__other {
    background-color: var(--gray-light);
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course__date {
    font-size: 20px;
}

.course__btns {
    margin-top: 12px;
}

.btn-signUp {
    display: block;
    padding: 12px 36px;
}