.main {
}

.main__slider {
    height: 600px;
    overflow: hidden;
}

.main__slideItem {
    width: 100%;
    height: 100%;
    position: relative;
}

.slideItem__content {
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
}

.slideItem__left {
}

.slideItem__text {
    max-width: 600px;
}

.slideItem__title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin-bottom: 62px;
}

.slideItem__description {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.slideItem__descriptionLine {
    margin-bottom: 16px;
}

.slideItem__descriptionLine_list {
    padding-left: 10px;
    list-style: none;
}

.slideItem__descriptionLine_list li:before {
    content: '- ';
}

.slideItem__right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slideItem__btnsContainer {
    margin-bottom: 32px;
}

.slideItem__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../images/posts/main.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {

    .slideItem__content {
        padding-top: 48px;
        flex-direction: column;
    }

    .slideItem__left {
        max-width: 50%;
    }

    .slideItem__title {
        margin-bottom: 32px;
        font-size: 2rem;
    }

    .slideItem__descriptionLine {
        font-size: 1.125rem;
    }
}